@charset "UTF-8";



body {
    background: linear-gradient(135deg, rgb(151, 143, 158) 35%, rgb(132, 70, 170) 100%);
}



section {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    padding: 60px  100px;
    border-radius: 10px;
    background-color: rgba(240, 248, 255, 0.829);

}

section input {
    border-radius: 10px;
    width: 300px;
    height: 30px;
}


section label {
    font-size: 20px;
}

section p {

text-align: center;
margin-top: 10%;

}


h1 {
    text-align: center;
}

 main img {
    width: 250px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}


button {
    text-decoration: none;
    padding: 10px 60px;
    background: rgb(103, 42, 163);
    background: linear-gradient(135deg, rgba(103, 42, 163, 1) 35%, rgba(164, 46, 236, 1) 100%);
    color: white;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 3px 2px rgba(139, 27, 139, 0.644) ;
    margin-top: 10%;
}

#centro {
    text-align: center;
    margin-top: 5%;
}



